<div id="page-meta" class="t30">
	<p>
		{% comment %}Look up the author details up from the site config and output author details if exists.{% endcomment %}
		{% assign author = site.data.authors[page.author] %}
		{% if author %}
			<span itemprop="author" itemscope itemtype="http://schema.org/Person">
				<a href="{{ author.url }}" itemprop="name" class="icon-edit" target="_blank">{{ author.name }}</a>
			</span>
		{% endif %}

		{% if page.date %}
			<time class="icon-calendar" datetime="{{ page.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time>
		{% endif %}

		{% if page.categories %}
			<span class="icon-archive">{% include page_categories.html categories=page.categories %}</span>
		{% endif %}

		<span class="meta-tags">
			{% for tag in page.tags %}
				{% capture tag_url %}{{ site.baseurl }}/blog/tags/#{{ tag | slugify }}{% endcapture %}
				{% capture tag_name %}{% if site.data.tags[tag].title %}{{ site.data.tags[tag].title }}{% else %}{{ tag }}{% endif %}{% endcapture %}
				<a href="{{ tag_url }}" class="icon-price-tag tag-{{ tag | slugify }}">{{ tag_name }}</a>
			{% endfor %}
		</span>
	</p>
</div>
