{% case include.link.special %}
{% when 'projects' %}
	{% for project in site.projects %}{% if project.published and project.type == 'app' %}
		<li{% if project.url == page_url %} class="active"{% endif %}>
			<a href="{{ site.baseurl }}{{ project.url }}">
				<img src="{{ site.urlimg }}{{ project.images.icon_small }}" />{{ project.title }}
			</a>
		</li>
	{% endif %}{% endfor %}
{% when 'projects-other' %}
	{% for project in site.projects %}{% if project.published and project.type != 'app' %}
	<li{% if project.url == page_url %} class="active"{% endif %}>
		<a href="{{ site.baseurl }}{{ project.url }}">
			<img src="{{ site.urlimg }}{{ project.images.icon_small }}" />{{ project.title }}
		</a>
	</li>
	{% endif %}{% endfor %}
{% when 'blog-categories' %}
	{% for category_entry in site.categories %}
		{% assign category_key = category_entry[0] %}
		{% for category_page in site.pages %}
			{% if category_page.category == category_key %}
				{% assign category_data = category_page %}{% break %}
			{% endif %}
		{% endfor %}
		{% capture category_url %}/blog/category/{{ category_key | slugify }}/{% endcapture %}
		<li{% if category_url == page_url %} class="active"{% endif %}>
			<a href="{{ site.baseurl }}{{ category_url }}" class="icon-alias-category category-{{ category_key }}">{{ category_data.title | escape }}</a>
		</li>
	{% endfor %}
{% when 'blog-tags' %}
	{% for tag in site.tags %}
		{% assign tag_key = tag[0] %}
		{% assign tag_data = site.data.tags[tag_key] %}
		{% capture tag_url %}/blog/tags/#{{ tag_key | slugify }}{% endcapture %}
		<li{% if tag_url == page_url %} class="active"{% endif %}>
			<a href="{{ site.baseurl }}{{ tag_url }}" class="icon-alias-tag tag-{{ tag_key | slugify }}">{{ tag_key | escape }}</a>
		</li>
	{% endfor %}
{% when 'blog-years' %}
	{% for post in site.posts reversed %}
		{% assign currentyear = post.date | date: '%Y' %}
		{% if currentyear != year %}
			{% capture year_url %}/blog/archive/#{{ currentyear }}{% endcapture %}
			<li{% if year_url == page_url %} class="active"{% endif %}>
				<a href="{{ site.baseurl }}{{ year_url }}" class="icon-alias-archive">{{ currentyear | escape }}</a>
			</li>
			{% assign year = currentyear %}
		{% endif %}
	{% endfor %}
{% endcase %}
 