<aside>
	<div class="panel radius">
		{% assign tags_url = site.baseurl | append: '/blog/tags/' %}
		<h3><a href="{{ tags_url }}">Tags</a></h3>
		{% include tag_cloud.html baseurl=tags_url %}
	</div>

	<div class="panel radius">
		<h3>Subscribe</h3>
		<ul>
			<li><a href="{{ site.baseurl }}/rss.xml" class="icon_rss">RSS Feed</a></li>
			<li><a href="{{ site.baseurl }}/atom.xml" class="icon_rss">Atom Feed</a></li>
		</ul>
	</div>

	<div class="panel radius">
		<h3>Archive</h3>
		<ul>
			{% for post in site.posts reversed %}
				{% assign currentdate = post.date | date: '%Y-%m' %}
				{% if currentdate != date %}
					{% assign count = 1 %}
					{% unless forloop.first %}({{ count }})</li>{% endunless %}
					{% assign currentyear = post.date | date: '%Y' %}
					{% if currentyear != year %}
						{% unless forloop.first %}</ul></li>{% endunless %}
						<li><a href="{{ site.baseurl }}/blog/archive/#{{ currentyear }}" class="icon_rss">{{ currentyear }}</a><ul>
						{% assign year = currentyear %}
					{% endif %}
					<li><a href="{{ site.baseurl }}/blog/archive/#{{ currentdate }}" class="icon_rss">{{ post.date | date: '%B' }}</a>
					{% assign date = currentdate %}
				{% else %}
					{% assign count = count | plus: 1 %}
				{% endif %}
				{% if forloop.last %}({{ count }})</li></ul></li>{% endif %}
			{% endfor %}
		</ul>
	</div>
</aside>
