{% if include.video.url %}
	{% assign url = include.video.url %}
{% elsif include.video.youtube %}
	{% assign url = include.video.youtube | prepend: "https://www.youtube.com/embed/" %}
{% endif %}
<!--suppress HtmlDeprecatedAttribute -->
<iframe width="100%"
        height="315" 
        src="{{ url }}" 
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
