// Mostly from https://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/

// 4. Animations and keyframes


/**
 @keyframes name {
   0% {...}
   100% {...}
 }
 ->
 @include keyframes(name) {
   0% {...}
   100% {...}
 }
 */
@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }  
  @-ms-keyframes $animation-name {
    @content;
  }
  @-o-keyframes $animation-name {
    @content;
  }  
  @keyframes $animation-name {
    @content;
  }
}

/**
animation: ...; -> @include animation(...);
*/
@mixin animation($args...) {
  -webkit-animation: $args;
  -moz-animation: $args;
  -ms-animation: $args;
  -o-animation: $args;
  animation: $args;
}

/**
transition: ...; -> @include transition(...);
*/
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/**
opacity: 0.x; -> @include opacity(0.x);
*/
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}


@mixin filter($args...) {
  -webkit-filter: $args;
  -moz-filter: $args;
  -ms-filter: $args;
  -o-filter: $args;
  filter: $args;
}
