---
permalink: /blog/archive/
title: "Articles by date"
breadcrumbs: true
---
{% for post in site.posts %}
	{% assign currentdate = post.date | date: '%Y-%m' %}
	{% if currentdate != date %}
		{% unless forloop.first %}</ul>{% endunless %}
		{% assign currentyear = post.date | date: '%Y' %}
		{% if currentyear != year %}
			<h2 id="{{ currentyear }}">{{ currentyear }}</h2>
			{% assign year = currentyear %}
		{% endif %}
		<h3 id="{{ post.date | date: '%Y-%m' }}">{{ post.date | date: '%Y %B' }}</h1>
		<ul>
		{% assign date = currentdate %}
	{% endif %}
	<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
	{% if forloop.last %}</ul>{% endif %}
{% endfor %}
