---
title: "Articles by date"
breadcrumbs: true
permalink: /blog/archive/
---
<ul class="inline-list">
{% assign lastyear = '' %}
{% for post in site.posts reversed %}
	{% assign currentyear = post.date | date: '%Y' %}
	{% if currentyear != lastyear %}
		<li><a href="#{{ currentyear }}">{{ currentyear }}</a></li>
		{% assign lastyear = currentyear %}
	{% endif %}
{% endfor %}
</ul>

{% assign lastyear = '' %}
{% assign lastdate = '' %}
{% for post in site.posts %}
	{% assign currentdate = post.date | date: '%Y-%m' %}
	{% if currentdate != lastdate %}
		{% unless forloop.first %}</ul>{% endunless %}
		{% assign currentyear = post.date | date: '%Y' %}
		{% if currentyear != lastyear %}
			<h2 id="{{ currentyear }}" class="icon-calendar">{{ currentyear }}</h2>
			{% assign lastyear = currentyear %}
		{% endif %}
		<h3 id="{{ currentdate }}">{{ post.date | date: '%Y %B' }}</h3>
		<ul>
		{% assign lastdate = currentdate %}
	{% endif %}
	<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
	{% if forloop.last %}</ul>{% endif %}
{% endfor %}
